.adv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.adv__title {
 text-align: center;
 margin-bottom: 20px;
}

.adv__shade {
  text-align: center;
  width: 100%;
}

.adv__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.adv__slide {
  padding: 19px 9px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  position: relative;
  width: 290px;
  background-color: $white;

  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    outline: 1px solid $add_blue;
    left: 124px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
  }

  h3 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    margin: 0;
    margin-top: 62px;
    margin-bottom: 15px;
    padding: 0 20px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin: 0;
  }

  p:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.adv__slide--shield {
  &::before {
    background-image: url("/__spritemap#sprite-shield-view");
  }
}

.adv__slide--crown {
  &::before {
    background-image: url("/__spritemap#sprite-crown-view");
  }
}

.adv__slide--boots-bl {
  &::before {
    background-image: url("/__spritemap#sprite-boots-bl-view");
  }
}

.adv__slide--path {
  &::before {
    background-image: url("/__spritemap#sprite-path-view");
  }
}

.adv__slide--leaf {
  &::before {
    background-image: url("/__spritemap#sprite-leaf-view");
  }
}

.adv__button-prev,
.adv__button-next {
  display: none;
}

@media (min-width: $tablet-width) {
  .adv {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .adv__title {
    width: auto;
    margin-bottom: 52px;
  }

  .adv__wrapper {
    width: 678px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
  }

  .adv__slide {
    width: 324px;
    height: auto;
    min-height: 340px;
    padding: 30px 20px 28px;

    &:nth-child(2n + 1):last-child {
      grid-column: span 2;
      margin: 0 auto;

      h3 {
        padding-right: 2px;
      }
    }

    &::before {
      width: 46px;
      height: 46px;
      left: 138px;
      background-position: 10px 10px;
    }

    h3 {
      font-size: 16px;
      line-height: 16px;
      margin-top: 73px;
      padding: 0;
      margin-bottom: 14px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      width: 284px;
    }

    p:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .adv {
    padding-top: 100px;
    padding-bottom: 185px;
    position: relative;
  }

  .adv__title {
    padding-top: 35px;
    margin-bottom: 50px;
  }

  .adv__slides {
    width: 100vw;
    margin-left: -120px;
  }

  .adv__wrapper {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 1440px;
    margin-left: -290px;
  }

  .adv__slide {
    width: 380px;
    min-height: 329px;
    max-height: 332px;
    padding: 40px 20px 38px;
    overflow-y: auto;
    overflow-x: hidden;

    &::before {
      width: 54px;
      height: 54px;
      left: 163px;
      background-position: 15px 15px;
    }

    h3 {
      font-size: 18px;
      line-height: 18px;
      margin-top: 83px;
      padding: 0;
      margin-bottom: 15px;
    }

    p {
      width: 340px;
    }
  }

  .adv__button-prev,
  .adv__button-next {
    display: block;
    top: 621px;
    width: 37px;
    height: 35px;
    padding: 13px 11px;
    background-color: $add_blue;
    color: $white;

    &:hover {
      background-color: $white;
      outline: 1px solid #1C3374;
      svg {
        color: $add_blue_button;
      }
    }

    &:focus {
      background-color: $white;
      svg {
        color: $add_blue_button;
      }
    }

    &:active {
      background-color: $add_blue_button;
      svg {
        color: $white;
      }
    }
  }

  .adv__button-prev {
    left: 47.29%;

    svg {
      width: 14px;
      height: 9px;
      margin-bottom: 13px;
    }

    &::after {
      content: none;
    }
  }

  .adv__button-next {
    right: 47.29%;

    svg {
      width: 14px;
      height: 9px;
      margin-bottom: 13px;
      transform: rotate(180deg);
    }

    &::after {
      content: none;
    }
  }
}
