.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 290px;
  margin: 0 auto;
}

.contacts__title {
  margin-bottom: 12px;
}

.contacts__text {
  p {
    margin: 0;
  }
}

.contacts__data {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contacts__name {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  margin-bottom: 8px;
}

.contacts__item {
  position: relative;
  padding-left: 32px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
  }
}

.contacts__item--phone {
  &::before {
    background-image: url("/__spritemap#sprite-phone-view");
  }
}

.contacts__item--email {
  &::before {
    background-image: url("/__spritemap#sprite-mail-view");
    top: 3px;
    background-size: 22px 16px;
  }
}

.contacts__item--address {
  &::before {
    background-image: url("/__spritemap#sprite-map-view");
  }
}

.contacts__info--phone,
.contacts__info--email {
  display: block;
  @include link-edit;
}

.contacts__info--address {
  display: block;
  margin: 0;
  width: 180px;
}

.contacts__map {
  margin-left: -15px;
  width: 320px;

  img {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    row-gap: 40px;
    width: 678px;
    font-size: 16px;
    line-height: 24px;
  }

  .contacts__title {
    margin-bottom: 21px;
    padding-bottom: 0;
  }

  .contacts__shade {
    top: 5px
  }

  .contacts__text {
    p {
      width: 480px;
    }
  }

  .contacts__data {
    flex-direction: row;
    column-gap: 40px;
  }

  .contacts__item {
    padding-left: 34px;
    &::before {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }

  .contacts__item--email {
    &::before {
      background-size: 24px 18px;
    }
  }

  .contacts__info--phone {
    width: 119px;
  }

  .contacts__info--email {
    width: 125px;
  }

  .contacts__info--address {
    width: 254px;
    margin-right: -2px;
  }

  .contacts__name {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  .contacts__info {
    font-size: 14px;
    line-height: 22px;
  }

  .contacts__info--address {
    width: auto;
  }

  .contacts__map {
    margin-left: -45px;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {

}
