.footer__contacts {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 1000vw;
    height: 1px;
    background-color: $dark_main;
    bottom: 0;
    opacity: 0.2;
    left: -100%;
  }
}

.footer__main {
  padding-top: 23px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}

.footer__phone {
  display: none;
}

.footer__logo {
  display: block;
  width: 142px;
  height: 42px;
  margin: 0 auto;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__links-right,
.footer__links-left {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer__item {
  width: 120px;
  text-align: center;
  line-height: 14px;
}

.footer__link {
  @include link-edit;
  cursor: pointer;
  padding: 3px 5px;
}

.footer__privacy {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .footer__contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__main {
    padding-top: 34px;
    row-gap: 34px;
  }

  .footer__menu {
    flex-direction: row;
    row-gap: 0;
    justify-content: space-between;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__links {
    column-gap: 20px;
    justify-content: end;
  }

  .footer__links-right,
  .footer__links-left {
    flex-direction: row;
    column-gap: 10px;
    row-gap: 0;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer__item {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .footer__contacts {
    padding-top: 100px;
    padding-bottom: 95px;
  }

  .footer__main {
    padding-top: 32px;
    padding-bottom: 32px;
    row-gap: 22px;
  }

  .footer__logo {
    padding: 9px 29px;
    width: 200px;
    height: 60px;
  }

  .footer__links-right,
  .footer__links-left {
    column-gap: 20px;
  }

  .footer__item {
    font-size: 16px;
    line-height: 16px;
  }

  .footer__phone {
    @include link-edit;
    display: block;
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: right;
  }
}
