.form {
  background: image-set(
    url("../../img/mobile/form_mobile.webp") type("image/webp") 1x,
    url("../../img/mobile/form_mobile@2x.webp") type("image/webp") 2x,
    url("../../img/mobile/form_mobile.jpg") type("image/png") 1x,
    url("../../img/mobile/form_mobile@2x.ipg") type("image/png") 2x)
    top 0 left -35px no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 638px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__wrapper {
  margin: 0 auto;
  width: 258px;

  h2 {
    margin: 0;
    color: $white;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 16px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
  }

  p {
    margin: 0 auto;
    color: $white;
    text-align: center;
    width: 220px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
  }
}

.form__form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: 20px;
}

.form__box {
  position: relative;
  height: 50px;
}

.form__label {
  position: absolute;
  display: block;
  z-index: 2;
  background-color: $white;
  height: 50px;
  padding: 18px 15px 16px;
  width: 100%;
  left: 0;
  border-radius: 2px;
  outline: 1px solid rgba(2, 102, 193, 0.1);

  &:hover {
    outline: 1px solid $add_blue;
  }
}

.form__input {
  border: none;
  height: 50px;
  width: 100%;
  padding: 17px 15px;
  border-radius: 2px;
  outline: 1px solid rgba(2, 102, 193, 0.1);

  &:focus,
  &:focus-visible {
    outline: 1px solid $dark_main;
  }
/*
  &:user-invalid {
    outline: 1px solid #FF121F;
  }

  &:valid {
    outline: 1px solid rgba(2, 102, 193, 0.1);
  }*/
  &--invalid:invalid {
    outline: 1px solid #FF121F;
  }

}

.form__button {
  height: 58px;
  padding-top: 8px;
  font-weight: 500;
  background-color: $add_blue;
  color: $white;
  border: none;

  &:hover {
    outline: 1px solid $add_blue_button;
    color: $add_blue_button;
    background-color: $white;
  }

  &:focus,
  &:focus-visible {
    color: $add_blue_button;
    background-color: $white;
    outline: none;
  }

  &:active {
    background-color: $add_blue_button;
    color: $white;
  }

  &:disabled,
  &--disabled {
    background-color: $disabled;
  }
}

@media (min-width: $tablet-width) {
  .form {
    background: image-set(
      url("../../img/tablet/form_tablet.webp") type("image/webp") 1x,
      url("../../img/tablet/form_tablet@2x.webp") type("image/webp") 2x,
      url("../../img/tablet/form_tablet.jpg") type("image/png") 1x,
      url("../../img/tablet/form_tablet@2x.ipg") type("image/png") 2x)
      top 0 left 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 680px;
  }

  .form__wrapper {
    width: 360px;

    h2 {
      font-size: 25px;
      line-height: 25px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }
  }

  .form__form {
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    background: image-set(
      url("../../img/desktop/form_desktop.webp") type("image/webp") 1x,
      url("../../img/desktop/form_desktop@2x.webp") type("image/webp") 2x,
      url("../../img/desktop/form_desktop.jpg") type("image/png") 1x,
      url("../../img/desktop/form_desktop@2x.ipg") type("image/png") 2x)
      top 0 left 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 760px;
  }

  .form__wrapper {
    width: 960px;
    padding: 0;

    h2 {
      font-size: 35px;
      line-height: 35px;
    }

    p {
      width: 100%;
    }
  }

  .form__form {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    height: 56px;
    margin-top: 25px;
  }

  .form__box {
    width: 360px;
    height: 56px;
  }

  .form__label {
    height: 56px;
  }

  .form__input {
    height: 56px;
  }

  .form__button {
    width: 180px;
    height: 56px;
  }
}
