.gallery {
  padding-top: 20px;
  padding-bottom: 3px;
}

.gallery__title {
  margin-bottom: 10px;
  padding-top: 17px;
  padding-bottom: 16px;
}

.gallery__text {
  margin-bottom: 31px;

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin: 0;
  }
}

.gallery__slides {
  width: 320px;
}

.gallery__wrapper {
  width: 320px;
}

.gallery__slide {
  width: auto;
  height: 266px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.gallery__img {

  img {
    display: block;
    object-fit: cover;
  }
}

.gallery__img--high {
  width: 158px;

  img {
    height: 266px;
  }
}

.gallery__img--low {
  width: 157px;

  img {
    max-height: 135px;
    min-height: 125px;
  }
}

.gallery__button-prev,
.gallery__button-next {
  display: none;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding-top: 40px;
    position: relative;
  }

  .gallery__text {
    margin-bottom: 21px;

    p {
      font-size: 14px;
      line-height: 22px;
      width: 420px;
    }
  }

  .gallery__title {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .gallery__slides {
    width: 768px;
  }

  .gallery__wrapper {
    width: 768px;
  }

  .gallery__slide {
    height: 418px;
  }

  .gallery__img--high {
    width: 253px;

    img {
      height: 418px;
    }
  }

  .gallery__img--low {
    width: 252px;

    img {
      max-height: 210px;
      min-height: 202px;
    }
  }

  .gallery__button-prev,
  .gallery__button-next {
    display: block;
    top: 166px;
    width: 37px;
    height: 35px;
    padding: 13px 11px;
    background-color: $add_blue;
    color: $white;
  }

  .gallery__button-prev {
    right: 86px;
    left: auto;

    svg {
      width: 14px;
      height: 9px;
      margin-bottom: 13px;
    }

    &::after {
      content: none;
    }
  }

  .gallery__button-next {
    right: 45px;

    svg {
      width: 14px;
      height: 9px;
      margin-bottom: 13px;
      transform: rotate(180deg);
    }

    &::after {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding-top: 100px;
  }

  .gallery__text {
    margin-bottom: 45px;

    p {
      font-size: 16px;
      line-height: 24px;
      width: 600px;
    }
  }

  .gallery__title {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 27px;
  }

  .gallery__slides {
    width: 1440px;
  }

  .gallery__wrapper {
    width: auto;
    display: flex;
  }

  .gallery__slide {
    width: 284px;
    height: 463px;
    row-gap: 7px;
  }

  .gallery__img--high {
    width: 100%;
    cursor: pointer;

    img {
      height: 463px;
    }
  }

  .gallery__img--low {
    width: 100%;
    cursor: pointer;

    img {
      max-height: 233px;
      min-height: 223px;
    }
  }

  .gallery__button-prev,
  .gallery__button-next {
    display: none;
  }
}
