.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $add_blue;
  color: $white;
  position: relative;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.header__part {
  grid-column: 2/3;
  justify-self: end;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 142px;
}

.header__logo img {
  display: block;
}

.header__phone {
  @include link-edit;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: right;
  padding-top: 2px;
  min-height: 14px;

  &:hover {
    color:rgba(255, 255, 255, 0.5);
  }

  &:focus {
    color: $dark_main;
  }

  &:active {
    color: $add_blue_button;
  }
}

.header__menu {
  grid-column: 1/2;

}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: auto;
  }

  .header__part {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 2/4;
    width: auto;
    justify-self: normal;
  }

  .header__logo {
    margin-left: 42px;
    margin-right: 42px;
  }

  .header__phone {
    align-self: center;
    width: 226px;
    font-size: 16px;
    line-height: 16px;
  }
}
