.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $add-blue;
  color: $white;
  position: relative;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 14px;
}

.header__logo {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  width: 142px;
}

.header__logo img {
  display: block;
}

.header__phone {
  @include link-edit;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: right;
  min-height: 14px;
  grid-column: 2/3;
  grid-row: 2/3;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    color: $dark-main;
  }

  &:active {
    color: $add-blue-button;
  }
}

.header__menu {
  grid-column: 1/2;
  grid-row: 1/2;

  &:focus,
  &:focus-visible {
    color: $dark-main;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: auto;
    row-gap: 0;
  }

  .header__part {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 2/4;
    width: auto;
    justify-self: normal;
  }

  .header__logo {
    grid-column: 2/3;
    margin: 0 auto;
  }

  .header__phone {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    grid-template-columns: 205px 1fr 157px;
  }

  .header__logo {
    padding-top: 10px;
    grid-column: 1/2;
  }

  .header__menu {
    grid-column: 2/3;
    padding: 20px 0 18px;
  }

  .header__phone {
    grid-column: 3/4;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    padding-top: 0;
  }
}
