.training {
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
  }
}

.training__slides {
  width: 290px;
}

.training__title {
  padding-top: 17px;
  margin-bottom: 16px;
}

.training__shade {
  top: 0;
}

.training__subtitle {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  margin: 0;
  margin-bottom: 22px;
  padding-top: 4px;
}

.training__wrapper {
  margin-bottom: 25px;
}

.training__slide {
  width: 290px;
}

.training__button-prev,
.training__button-next {
  display: none;
}

@media (min-width: $tablet-width) {
  .training {
    padding-top: 40px;
    padding-bottom: 40px;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .training__slides {
    width: 678px;
  }

  .training__wrapper {
    position: relative;
  }

  .training__title {
    margin-bottom: 24px;
    padding-top: 20px;
  }

  .training__shade {
    top: 4px;
  }

  .training__subtitle {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 32px;
    padding: 5px 0;
  }

  .training__slide {
    width: 678px;
  }

  .training__button-prev,
  .training__button-next {
    display: block;
    top: -43px;
    width: 37px;
    height: 35px;
    padding: 13px 11px;
    background-color: $add_blue;
    color: $white;

    &:hover {
      background-color: $white;
      outline: 1px solid #1C3374;
      svg {
        color: $add_blue_button;
      }
    }

    &:focus {
      background-color: $white;
      svg {
        color: $add_blue_button;
      }
    }

    &:active {
      background-color: $add_blue_button;
      svg {
        color: $white;
      }
    }
  }

  .training__button-prev {
    right: 41px;
    left: auto;

    svg {
      width: 14px;
      height: 9px;
      margin-bottom: 13px;
    }

    &::after {
      content: none;
    }
  }

  .training__button-next {
    right: 0;

    svg {
      width: 14px;
      height: 9px;
      margin-bottom: 13px;
      transform: rotate(180deg);
    }

    &::after {
      content: none;
    }
  }

  .training__button-prev.swiper-button-disabled,
  .training__button-next.swiper-button-disabled {
    background-color: $disabled;
  }
}

@media (min-width: $desktop-width) {
  .training__title {
    margin-bottom: 35px;
  }

  .training {
    p {
      margin-bottom: 56px;
      width: 820px;
    }
  }

  .training__slides {
    width: 1200px;
  }

  .training__subtitle {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .training__wrapper {
    margin-bottom: 56px;
  }

  .training__slide {
    width: 1200px;
  }

  .training__button-prev,
  .training__button-next {
    display: block;
    top: -33px;
  }
}
