// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "./common/fonts.scss";

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
}
